* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  background-color: #0d0f36;
  color: white;
}

main {
  display: flex;
  flex-grow: 10;
}

main aside {
  width: 200px;
  background-color: #294380;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main aside a {
  width: 80%;
  height: 80px;
  border-radius: 20px;
  background-color: #334375;
  color: white;
  border: none;
  font-weight: bold;
  border: #0d0f36 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

main aside a:hover {
  scale: 1.05;
  cursor: pointer;
  background-color: #0d0f36;
  transition: background-color 0.5s ease;
}

article {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #00002d;
}

article section {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: #0d0f36;
  border: 3px solid gold;
  border-radius: 10px;
}

article section form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visible {
  animation: fadeIn 2s ease;
}

#valorReal,
#valorUsd {
  width: 90%;
  height: 30px;
  text-align: center;
  border-radius: 20px 0 0 20px;
}

.campos {
  display: flex;
  width: 90%;
}

.campos2 {
  width: 40%;
  height: 30px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #294380 1px solid;
}

#peso,
#altura {
  width: 90%;
  height: 30px;
  text-align: center;
}

#peso::placeholder,
#altura::placeholder {
  padding: 5px;
  text-align: center;
}

#calculadorImc {
  width: 70%;
  height: 30px;
  background-color: #294380;
  border: none;
  color: white;
}

.place,
.local {
  display: flex;
  width: 90%;
}

.place2,
.local2 {
  width: 40%;
  height: 30px;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #294380 1px solid;
}

#valorC,
#valorF,
#valorK {
  width: 90%;
  height: 30px;
  text-align: center;
  border-radius: 20px 0 0 20px;
}

.velo {
  gap: 20px;
}

#km,
#mph,
#kg,
#lb {
  width: 80%;
  height: 30px;
  text-align: center;
  border-radius: 20px 0 0 20px;
}

#quadro1 {
  height: 100 px;
  width: 90%;
  gap: 50px;
}

#regra3 {
  gap: 20px;
}

#v1,
#v2,
#v3,
#v4 {
  height: 30px;
  text-align: center;
  border-radius: 20px;
}

.botoes {
  display: flex;
  width: 90%;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.botao {
  width: 40%;
  height: 30px;
  background-color: #294380;
  border: none;
  color: white;
  border-radius: 20px;
}

.botao:hover {
  scale: 1.05;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.5;
  background-color: #0d0f36;
  color: white;
}
